@keyframes expandedImg {
	from {opacity: 0;}
	to {opacity: 1;}
}

div, p {
	text-align: left;
}

.noneLeft {
	text-align: center;
}

#my-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
}

h2[contentEditable] {
    outline: none;
}

div[contentEditable] {
    outline: none;
}

p[contentEditable] {
    outline: none;
}

span {
	margin: 0;
	padding: 0;
}

h1 {
	border: 1px solid #d2cece;
	color: #333333;
	font-size: 40px;
	font-weight: bold;
}

h2 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

a {
	color: #333333;
}

.biography {
	display: block;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.border {
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.btn {
	cursor: pointer;
	color: #333333;
	background-color: #C0C0C0;
	border: 1px solid #333333;
	border-radius: 10px;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	width: 150px;
	padding: 5px;
}

.btnAvatar {
	margin: 0;
}

.contacts {
	color: #333333;
	margin-left: 5px;
	vertical-align: super;
}

.change {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.crtDiplom {
	width: 30px;
	height: 30px;
	border-radius: 360px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

.crtD {
	display: flex;
	justify-content: center;
}

.diplom {
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.diploms {
	padding: 10px;
	margin: 10px;
}

.experience {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.form {
	background-color: #C0C0C0;
	border: 1px solid #333333;
	border-radius: 10px;
	color: #333333;
	margin-left: 10px;
	padding: 5px;
}

.hb {
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}

.hideDiv {
	padding: 10px;
	margin: 10px;
}

.information-about-me {
	border-radius: 10px;
	color: #333333;
	display: flex;
	flex-direction: row;
	font-size: 19px;
	justify-content: left;
	text-align: center;
	width: 120%;
}

.schoolExp {
	display: flex;
	flex-direction: row;
	width: 945px;
    justify-content: center;
}

.schoolExperience {
	display: flex;
	flex-direction: row;
	width: 100%;
    justify-content: center;
}

.grades {
	font-size: 15px;
	display: flex;
	width: 40%;
	justify-content: right;
    margin-right: 10px;
}

.main-container {
	align-items: center;
	background-color: rgb(231, 231, 231);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.my-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}

.myDiploms {
	display: flex;
	flex-direction: row;
}

.none {
	color: #ff9f80;
}

.none-marging-and-padding {
	margin: 0px;
	padding: 0px;
}

.white {
	cursor: pointer;
	margin: 5px;
	width: 20px;
	filter: contrast(0%) brightness(300%);
}

.pink {
	cursor: pointer;
	margin: 5px;
	width: 20px;
}

.one, .two, .three {
	cursor: pointer;
	margin: 5px;
	width: 20px;
	border-radius: 360px;
}

.one {
	filter: contrast(175%) brightness(70%);
}

.two {
	filter: contrast(175%) brightness(70%);
}

.three {
	filter: contrast(175%) brightness(70%);
}

.white-main {
	background-color: rgb(231, 231, 231);;
	display: flex;
	flex-direction: column;
}

.pink-main {
	background-color: #fadadd;
	display: flex;
	flex-direction: column;
}

.programming-language {
	display: flex;
	color: #333333;
	font-weight: bold;
	text-align: left;
	width: 15%;
}

.skillLanguage {
	margin-left: 10px;
}

.prct {
	width: 85%;
	margin: 0;
	margin-top: 15px;
}

.r {
	margin-left: auto;
}

.skills {
	width: 100%;
}

.skills-level {
	color: white; 
	text-align: center; 
	border-radius: 10px;
	animation-name: skills-level;
	animation-duration: 4s;
}

.w {
	flex-direction: column;
}

.work-experience {
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skill {
	display: flex;
	flex-direction: row;
}

.yellow {
	cursor: pointer;
	margin: 5px;
	width: 20px;
}

.yellow-main {
	background-color: #FFFACD;
}

* {box-sizing:border-box}

/* Контейнер слайд-шоу */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Скрыть изображения по умолчанию */
.mySlides {
  display: none;
  width: 500px;
}

/* Вперед и назад кнопки */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Положение "next кнопки" справа */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный цвет фона с немного прозрачным */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Подпись текст */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Точки/пули/индикаторы */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Исчезающая анимация */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Сетка: четыре одинаковых столбца, которые плавают рядом друг с другом */
.column {
	float: left;
	width: 25%;
	padding: 10px;
  }
  
/* Стиль изображения внутри сетки */
.column img {
	height: 100%;
	opacity: 0.8;
	cursor: pointer;
	width: 100%;
	object-fit: cover;
  }
  
  .dltDiplom {
	  margin-top: 0;
	  margin-left: 0;
  }

  .column img:hover {
	opacity: 1;
  }
  
  /* Очистить поплавки после столбцов */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Расширяющийся контейнер изображений (позиционирование необходимо для размещения кнопки закрытия и текста) */
  .container {
	position: relative;
	display: none;
	margin-left: auto;
    margin-right: auto;
	width: 400px;
	animation-name: expandedImg;
	animation-duration: 4s;
  }

  /* Расширение текста изображения */
  #imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-size: 20px;
  }
  
  /* Закрываемая кнопка внутри изображения */
  .closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 35px;
	cursor: pointer;
	margin-top: 35px;
  }

.open-button {
	cursor: pointer;
	border-radius: 360px;
	width: 30px;
	margin-bottom: 20px;
	height: 30px;
}

.dlt {
	cursor: pointer;
	border-radius: 360px;
	width: 30px;
	height: 30px;
}
  
.form-popup {
	display: none;
	margin-left: 10px;
}

.form-container {
	width: 595px;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #333333;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
  
.form-container input[type=text]{
	width: 100%;
	padding: 5px;
	margin: 5px;
	margin-left: 0;
}

.b {
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
}

.workForm {
	display: flex;
	flex-direction: column;
}

.workButton {
	margin: 10px;
	display: flex;
	justify-content: center;
	height: 30px;
	width: 30px;
	border-radius: 360px;
}

.workForm input[type=text] {
	margin: 5px;
}

.inputs {
	display: flex;
	flex-direction: row;
}

.dltWork {
	cursor: pointer;
	border-radius: 360px;
	margin: 10px;
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
}

.dltSchool {
	cursor: pointer;
	border-radius: 360px;
	margin: 10px;
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
}

.workExp {
	display: flex;
	flex-direction: row;
	width: 945px;
	justify-content: center;
}

.workingExperience {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.position {
	display: flex;
	width: 40%;
	justify-content: right;
    margin-right: 10px;
}

.comp {
	display: flex;
	width: 25%;
	justify-content: left;
	margin-left: 90px;
}

.year {
	display: flex;
	width: 35%;
	justify-content: left;
	margin-left: 40px;
}

.yearS {
	display: flex;
	width: 35%;
	justify-content: left;
	margin-left: 40px;
}

.school {
	display: flex;
	width: 25%;
	justify-content: left;
	margin-left: 90px;
}

#expandedImg {
    height: 550px;
    object-fit: cover;
    margin-top: 35px;
}
